{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to our E-Commerce Website!!!
      </p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          <br /><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          vehicula porttitor scelerisque. Duis rhoncus ipsum sit amet quam porta
          faucibus. Morbi consectetur ligula massa, non mollis lorem
          pellentesque sit amet. Pellentesque quis est id quam pretium varius.
          Integer ac mauris lacinia, venenatis elit eget, lacinia tellus.
          Vivamus imperdiet non diam at dignissim. Cras facilisis ex eget dictum
          dapibus. Integer maximus posuere velit, id eleifend lacus egestas non.
          Vestibulum vulputate rutrum arcu sed pharetra.
          <br /><br />
          Nulla aliquet eget dolor quis interdum. Proin dictum turpis quis
          pellentesque bibendum. Nunc massa sapien, blandit vitae varius vitae,
          vehicula sed odio. Quisque vel urna id sem tristique euismod. Etiam
          accumsan erat vel nunc aliquet pretium. Vivamus vitae accumsan arcu.
          Vestibulum non nunc suscipit lorem sagittis malesuada. Nunc massa
          ipsum, dapibus eu tortor vitae, suscipit suscipit erat. Maecenas
          tortor quam, pharetra quis ullamcorper in, sagittis id velit. Mauris
          eu elit luctus, imperdiet nisl ac, laoreet lacus. Suspendisse
          vestibulum lectus vitae turpis porttitor, et hendrerit purus feugiat.
          Fusce mollis, sapien ac semper ullamcorper, justo mauris ornare sem,
          eget consectetur justo mauris eget est. Donec molestie metus a
          convallis sodales.
          <br /><br />
          Vestibulum vitae sem eget eros sollicitudin mollis. Duis nec lectus
          lacinia, lobortis est nec, condimentum lectus. Aenean feugiat ex et
          volutpat pulvinar. Morbi ullamcorper sagittis laoreet. Morbi et auctor
          diam, sit amet scelerisque leo. Nulla facilisi. Fusce et lacus elit.
          Aenean viverra dapibus lorem et tincidunt. In hac habitasse platea
          dictumst. Donec at sollicitudin eros.
          <br /><br />
        </p>
      </div>
    </center>
  </div>
</div>

{% endblock%}
