{% extends 'base.html' %} {% block content %}
<!-- Header -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Biling Info</h1>
      <p class="lead fw-normal text-white-50 mb-0">Enter Your Payment Info...</p>
    </div>
  </div>
</header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">Order Summary</div>
        <div class="card-body">
          {% for product in cart_products %}
          <p>
            {{ product.name }}: {% if product.is_sale %} ${{ product.sale_price
            }} {% else %} ${{ product.price }} {% endif %}
          </p>
          <p>
            <small
              >Quantity: {% for key, value in quantities.items %} {% if key ==
              product.id|slugify %} {{ value }} {% endif %} {% endfor %}
            </small>
          </p>
          {% endfor %}
          <p>Total: ${{ totals }}</p>
          <a
            href="{% url 'cart_summary' %}"
            class="btn btn-sm btn-outline-secondary"
            >Update Items</a
          >
        </div>
      </div>

      <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
        <div class="card mb-4">
          <div class="card-header">Shipping Info</div>
          <div class="card-body">{{ shipping_form.as_p }}</div>
        </div>

        <a href="#" class="btn btn-secondary">Pay Now</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
